/* CSS file placeholder. */
body {
  padding-top: 60px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    margin: 0 auto;
}

canvas {
  width: 800px;
  height: 200px;
}